
*.pyc
*.vsix
*.noseids
# translation files
*.xlf
*.nls.*.json
*.i18n.json

.DS_Store
.huskyrc.json
.nyc_output
.vscode-test
.pytest_cache
.python-version

__pycache__

!yarn.lock

out
cucumber-report.json
log.log
npm-debug.log
port.txt
precommit.hook
test-results*.xml
xunit-test-results.xml
build/ci/performance/performance-results.json
debug*.log
debugpy*.log
pydevd*.log

.vs/

**/node_modules
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
**/.mypy_cache/**
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/

!build/

coverage/
pythonFiles/lib/**
debug_coverage*/**
languageServer/**
languageServer.*/**
bin/**
obj/**
tmp/**
nodeLanguageServer/**
nodeLanguageServer.*/**
dist/**
data/out/**